/* IMPORTS */
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap%27");
/* PARTIE UTILISATEURS */ /* principale */

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-bottom: 0px;
}
body {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  font-family: "Poppins", sans-serif;
}

/* PARTIE UTILISATEURS */

/* principale */

#bloc_principal_user {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

/* Rideau de navigation des modèles cv */
#myNav {
  display: flex;
  flex-direction: row;
}
::-webkit-scrollbar {
  width: 0px;
}
#bouton_rideau {
  display: block;
  width: 48px;
  height: 100%;
  line-height: 100px;
  background-image: linear-gradient(19deg, #21b2fd 0%, #7267cb 100%);
  text-align: center;
  font-size: 1em;
  padding-top: 35px;
  color: white;
  cursor: pointer;
  position: fixed;
  box-shadow: 25px 13px 33px 4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-image: linear-gradient(19deg, #21b2fd 0%, #7267cb 100%);
  overflow-x: hidden;
  transition: 0.2s;
}

#overlay-content1 {
  position: relative;
  height: 646px;
  width: auto;
  text-align: center;
  background-color: #150f5a;
  border-radius: 0px 0px 10px 0px;
}
#overlay-content2 {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-left: 18;
  margin-top: 10%;
}
#overlay-content3 {
  width: 17%;
  text-align: center;
  margin-top: 25px;
  margin-right: 3px;
}

.overlay a {
  padding: 1px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  color: white;
  top: 72px;
  margin-top: 38px;
}

.overlay .closebtn {
  font-size: 30px;
  color: white;
}

.fa-solid {
  background-color: white;
}
/* barre de recherche */

#barre_recherche {
  margin-bottom: 75px;
}

.is-form-style {
  line-height: 1;
  padding: 0 !important;
  top: 50px;
}
.is-form-style.is-form-style-3 input.is-search-input {
  border-right: 0 !important;
  border-radius: 50px;
  width: 80%;
}
span.is-search-icon {
  border-radius: 20px;
  background-color: #b8e4f0;
  margin-left: 10px;
  border: none;
}

/* feuille cv */

#white {
  width: 24%;
  height: 100%;
}

#telechargement {
  width: 24%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin-top: 3%;
  /* background-color: #cccccc; */
  height: 50%;
  /* border-radius: 20px; */
}

#btn_telecharger {
  background-color: #7267cb;
  border-radius: 7px;
}
a#btn_telecharger {
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 7px;
}

/* drag and drop */
.base {
  cursor: pointer;
}

.tenu {
  border: solid 5px #ccc;
}

.case {
  display: inline-block;
  width: auto;
  margin: 10px;
  background: #fff;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

body {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  font-family: "Poppins", sans-serif;
}

/* PROFIL USER */
.overlayProfil {
  height: 25%;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 5;
  top: 38px;
  background-image: linear-gradient(19deg, #21b2fd 0%, #7267cb 100%);
  overflow-x: hidden;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  border-radius: 17px;
}
.overlayProfil a {
  margin: 0;
}
.overlayProfil p {
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
}
.modifProfil {
  display: none;
}
.formModif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
#submit-modif {
  cursor: pointer;
}
#button-modif-open {
  display: flex;
}
#button-modif-close {
  display: none;
}

/* HEADER */
.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}
#site-navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.nav-menu li {
  padding-right: 15px;
}
.nav-menu li a {
  color: #6e3cbc;
}
#logo {
  width: 95px;
  margin-top: 5px;
  margin-left: 5px;
}
#titre {
  font-size: 27px;
  width: 30%;
  margin-left: 5px;
  color: white;
}

@media (max-width: 1100px) {
  #titre {
    font-size: 20px;
  }
}

/* TEMPLATE HOME */
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.laptop {
  width: 1000px;
  height: 630px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.container-login,
.container-register {
  display: none;
  align-content: center;
  text-align: center;
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s;
  color: black;
}

.form-login h1,
.form-login h2 {
  margin-bottom: 0px;
}

.container-login {
  justify-content: center;
}

.container-register {
  justify-content: center;
  flex-direction: row-reverse;
}

.login-text,
.register-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-text {
  width: 50%;
}

.register-text {
  text-align: center;
}

.img-laptop {
  width: 50%;
}
.title-inscription {
  display: flex;
  align-items: center;
  font-size: 50px;
}

#pen {
  transform: scaleX(-1);
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#loading {
  width: 300px;
  height: 300px;
  animation: spin 3s linear;
  filter: blur(0.5px);
  align-self: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-login,
.form-register {
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.form-login {
  width: 60%;
}
.form-register {
  width: 40%;
}

.inputgroupe {
  position: relative;
  margin-bottom: 25px;
}
.mdpConf {
  margin-bottom: 0;
}

.form-label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  color: black;
  transition: all 0.2s ease-in-out;
}
.form-field {
  border: 0 !important;
  border-bottom: 1px solid black !important;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0 !important;
  font-size: 16px;
  color: black !important;
}
.form-field:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #6e3cbc !important;
}

.form-field:focus ~ .form-label,
.form-field:valid ~ .form-label {
  top: -12px;
  font-size: 15px;
}
.form-field:-webkit-autofill,
.form-field:-webkit-autofill:hover,
.form-field:-webkit-autofill:focus,
.form-field:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: black;
}

.form-register {
  margin-top: 20px;
  margin-bottom: 0;
}

#erreur-mdp {
  padding: 0;
  font-size: 15px;
  color: red;
  background-color: white;
}
#erreur-mdp p {
  margin: 0;
}

input {
  margin-bottom: 10px;
}

#submit-register,
#submit-login {
  margin-top: 5px;
  border: none;
  cursor: pointer;
  background-color: #6e3cbc;
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 100px;
}
#button-register,
#button-login {
  cursor: pointer;
}

.erreur p {
  background-color: white;
  color: red;
  border-radius: 5px;
  margin: 2px;
}

@media (max-width: 1100px) {
  .laptop {
    width: 500px;
  }

  .keyboard {
    display: none;
  }
  .img-laptop {
    align-self: center;
  }
  .form-login h1 {
    font-size: 20px;
  }
  .form-login h2 {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .form-login h3 {
    margin-bottom: 0;
    margin-top: 0px;
  }
  .form-login {
    margin-bottom: 0;
    align-self: center;
  }

  .title-inscription h3 {
    margin: 0;
    font-size: 30px;
  }
  .form-register {
    margin-top: 0;
  }
  .form-register input {
    height: 30px;
    flex-wrap: wrap;
  }
  #label-mdpconf {
    font-size: 15px;
  }

  #erreur-mdp p {
    font-size: 10px;
  }
  #submit-register {
    font-size: 15px;
  }
  #button-register,
  #submit-register {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .laptop {
    width: 300px;
  }
  .img-laptop {
    display: none;
  }
  .form-register {
    width: 100%;
  }
  .login-text,
  .register-text {
    width: 90%;
  }
  #button-login {
    font-size: 15px;
  }
  .erreur p {
    font-size: 11px;
  }
}
/* ----------------- */
.page-id-10 body {
  color: white;
}
.page-id-10 pre {
  background-color: black;
}
/* ---- */
.page-id-10 .navBar {
  background-color: red;
  width: 300px;
  height: 100vh;
  position: fixed;
}
.page-id-10 .contenu {
  background-color: black;
  width: 100%;
  height: 2000px;
  padding-left: 300px;
}
/* Inputs */

input#nameField:-webkit-autofill,
input#nameField:-webkit-autofill:hover,
input#nameField:-webkit-autofill:focus,
input#nameField:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input#nameField,
input#contactField,
textarea#addressField,
input#fbField,
input#instaField,
input#linkedField,
textarea#objectiveField,
textarea.form-control.weField,
textarea.form-control.eqField {
  border: none;
  background-color: none;
  color: black;
}
#feuille {
  background-color: white;
  width: 794px;
  height: 1122px;
  margin: 25px;
  padding: 20px;
  color: black;
  box-shadow: 25px 13px 33px 4px rgb(0 0 0 / 10%),
    0px 10px 15px -3px rgb(0 0 0 / 10%);
  margin-left: 37px;
}
#cv_colonne {
  display: flex;
  flex-direction: row;
}

#colonne1 {
  width: 50%;
}
#colonne2 {
  width: 50%;
}
.fa-bars:before {
  content: "\f0c9";
  padding: 20px;
}

/* Palette de couleur */

#yellow_color {
  border-radius: 50px;
  background-color: #ffff9a;
  border: none;
  padding: 12px;
  margin-left: 10px;
  cursor: pointer;
}

#blue_color {
  border-radius: 50px;
  background-color: #7fb1ff;
  border: none;
  padding: 12px;
  margin-left: 10px;
  cursor: pointer;
}
#purple_color {
  border-radius: 50px;
  background-color: rgb(252, 146, 225);
  border: none;
  padding: 12px;
  margin-left: 10px;
  cursor: pointer;
}
#green_color {
  border-radius: 50px;
  background-color: #87ffcc;
  border: none;
  padding: 12px;
  margin-left: 10px;
  cursor: pointer;
}
#grey_color {
  border-radius: 50px;
  background-color: #8f8f8f;
  border: none;
  padding: 12px;
  margin-left: 10px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  margin-top: 200px;
  width: 100%;
  height: 100px;
}
.container-footer {
  border-radius: 2px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(19deg, #21b2fd 0%, #7267cb 100%);
  padding: 50px;
}
.footer h3 {
  color: rgb(56, 54, 54);
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #6e3cbc;
  transition: 0.2s;
}

.container-footer ul {
  margin: 0;
}
.page {
  margin-bottom: 0;
}
/* DASHBORD */

.titre_dash {
  text-align: center;
  margin-top: 15px;
}

#bloc_dashbord {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  height: 85%;
  margin: 30px;
  border-radius: 20px;
  background-image: linear-gradient(19deg, #21b2fd 0%, #7267cb 100%);
  font-family: "PT Serif", serif;
  color: black;
}
.dash {
  background-color: white;
  width: 25%;
  margin: 50px;
  border-radius: 20px;

  color: black;
}
.dash h3 {
  text-align: center;
  font-family: "PT Serif", serif;
}
#dashbord_body {
  background: linear-gradient(#b8e4f0, #98bae7);
}
.cursor {
  cursor: pointer;
}
#create-resume.cursor {
  background-color: rgb(255 117 83);
}
/* MEDIAQUERYS FOOTER */
@media (max-width: 900px) {
  .container-footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .Reseau,
  .Societe,
  .About {
    margin-bottom: 15px;
  }
}

/* COMPTE USER */

#envoi_recru {
  background-color: #360d963b;
  padding: 15px;
  color: white;
  border-radius: 15px;
}
input[type="file"] {
  color: white;
}

#create-resume {
  border-radius: 20px;
  border: none;
  color: #150f5a;
  cursor: pointer;
}
#mon_compte {
  background-color: lightgray;
  color: white;
  border-radius: 100%;
  font-size: 20;
  margin-right: 10px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 0;
}
/* Fonts Change*/
#sacramento {
  font-family: "Sacramento", cursive;
  background-color: white;
  margin-top: 10px;
  font-size: 100%;
  color: black;
  width: 100%;
  cursor: pointer;
}
#gochi {
  font-family: "Gochi Hand", cursive;
  background-color: white;
  margin-top: 10px;
  font-size: 100%;
  color: black;
  width: 100%;
  cursor: pointer;
}
#annie {
  font-family: "Annie Use Your Telescope", cursive;
  background-color: white;
  margin-top: 10px;
  font-size: 100%;
  color: black;
  width: 100%;
  cursor: pointer;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #000;
  border: none;
  border-radius: 3px;
  padding: 0px;
}

.style_bouton:hover {
  background-image: linear-gradient(19deg, #3fc4d6 0%, #8c4fec 100%);
  padding: 10px;
  margin: 25% 7px 7px 7px;
  border-radius: 10px 10px 10px 10px;
}
/* PAGE ADMIN */
#bloc1admin {
  width: 100%;
  height: 83px;
  background-color: #2b4570;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logorec {
  display: flex;
  margin-left: 50px;
}
#titre_re {
  display: flex;
  color: white;
  font-size: 22px;
}
#deco {
  display: flex;
  margin-right: 15px;
  text-align: center;
  color: red;
  line-height: 30px;
  cursor: pointer;
}
#div_gauche {
  width: 13%;
  height: 100%;
  background-color: #2b4570;
  display: flex;
  flex-direction: column;
}

#containerAdmin {
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
}

#containerCVAdmin {
  width: 87%;
  height: 100%;
  padding: 10px;
}

.pdf {
  width: 15%;
  height: 1000px;
}

.selectionToExcelBtn {
  width: 90%;
  background-color: #ff99fd30;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: large;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  margin: 6% auto 6% auto;
}
.dataTables_wrapper {
  position: relative;
  clear: both;
  margin-top: 25px;
}
.selectionToExcelBtn:hover {
  background-color: #4544afcc;
  color: rgb(255, 255, 255);
}
.dataTables_wrapper .dataTables_filter input {
  border-radius: 3px;
  padding: 5px;
  margin-left: 3px;
  border-radius: 20px;
  background-color: #f5efdc;
}
td {
  text-align: center;
}
.boutonShow {
  width: 30%;
  background-color: #ffc273cf;
  color: white;
  text-align: center;
  border: none;
}

.cvBloc {
  display: flex;
}

.cvAdmin {
  background-color: white;
  margin-bottom: 10px;
  width: 70%;
}

.selected {
  background-color: rgb(67, 224, 5);
}

/* #pdfShow {
    width: 50%;
    height: 100%;
} */

/* brouillon style */

#brouillon_liste {
  background-color: white;
  margin: 5px;
  border-radius: 20px;
}

/* template cv */
h4 {
  font-size: 30px;
  margin-top: 1px;
}

/* zoom */
#zoom {
  height: 30;
  width: 30;
  padding: 10px;
  border-radius: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  padding-top: 3px;
  border: 3px solid white;
  color: white;
}

#zoom_box {
  position: fixed;
  bottom: 3px;
  right: 3px;
}

/* compte user modif */

#name-modif,
#surname-modif,
#email-modif {
  text-align: center;
}
