/* IMPORTS */
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

/* PARTIE UTILISATEURS */

/* principale */

#bloc_principal_user {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}

/* Rideau de navigation des modèles cv */
#myNav{
    display: flex;
    flex-direction: row;
}
::-webkit-scrollbar {
    width: 0px;
}
#bouton_rideau {
    display: block;
    width: 55px;
    height: auto;
    line-height: 100px;
    background-color: #7267CB;
    text-align: center;
    font-size: 1em;
    padding-top: 35px;
    color: white;
    cursor: pointer;
}

.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #7267CB;
    overflow-x: hidden;
    transition: 0.2s;
}

#overlay-content1 {
    position: relative;
    height: 100%;
    width: 25%;
    text-align: center;
    background-color: #6E3CBC;
    border-radius: 0px 0px 10px;
}
#overlay-content2 {
    
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: 18;
}
#overlay-content3 {
    position: relative;
    top: 80px;
    width: 11%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    color: white;
    top: 72px;
    margin-top: 44px;
}

.overlay .closebtn {
    position: absolute;
    top: -28px;
    right: -4px;
    font-size: 30px;
    color: white;
}

.fa-solid{background-color: white;}
/* barre de recherche */

#barre_recherche {
    margin-bottom: 75px;
}

.is-form-style {
    line-height: 1;
    padding: 0!important;
    top: 50px;
}
.is-form-style.is-form-style-3 input.is-search-input {
    border-right: 0!important;
    border-radius: 50px;
    width: 80%;
}
span.is-search-icon {
    border-radius: 20px;
    background-color: #B8E4F0;
    margin-left: 10px;
    border: none;
}



/* feuille cv */

#white {
    width: 24%;
    height: 100%;
}

/* TELECHARGEMENT */
#telechargement {
    width: 17%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

#btn_telecharger{
    background-color: #7267CB;
    border-radius: 7px;
    
}
a#btn_telecharger {
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 7px;
}

/* drag and drop */
.base {
    cursor: pointer;
}

.tenu {
    border: solid 5px #ccc;
}

.case {
    display: inline-block;
    width: auto;
    margin: 10px;
    background: #fff;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

body {
  background: linear-gradient(#b8e4f0, #98bae7);
  font-family: "Fredoka", sans-serif;
}

/* HEADER */
.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}
#site-navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.nav-menu li {
  padding-right: 15px;
}
.nav-menu li a {
  color: #6e3cbc;
}
#logo {
  width: 95px;
  margin-top: 5px;
  margin-left: 5px;
}
#titre {
  font-size: 30px;
  width: 30%;
  margin-left: 5px;
}

/* TEMPLATE HOME */
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.laptop {
  width: 1000px;
  height: 540px;
  background: #7267cb;
  border: 16px solid #262626;
  box-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0#fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.keyboard {
  content: "";
  display: flex;
  width: 1100px;
  height: 30px;
  background: white;
  border-top: 10px solid #ccc;
  border-top: 10px solid #ccc;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container-login,
.container-register {
  display: none;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s;
  color: white;
}

.login-text,
.register-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-text,
.register-text {
  width: 50%;
}

.register-text {
  text-align: center;
}

.img-laptop {
  width: 50%;
}
.title-inscription {
  display: flex;
  align-items: center;
  font-size: 80px;
  margin-right: 80px;
}

#pen {
  transform: scaleX(-1);
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#loading {
  width: 300px;
  height: 300px;
  animation: spin 3s linear;
  filter: blur(0.5px);
  align-self: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-login,
.form-register {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}
.form-register {
  margin-top: 20px;
  margin-bottom: 0;
}

input {
  margin-bottom: 5px;
  border-radius: 5px;
}

#email,
#mdp {
  color: #7267cb;
}
#submit-register,
#submit-login {
  margin-top: 5px;
  border: none;
  cursor: pointer;
  background-color: #6e3cbc;
  color: white;
  font-size: 20px;
  justify-self: center;
}
#button-register,
#button-login {
  cursor: pointer;
}

.erreur p {
  background-color: red;
  border-radius: 5px;
  margin: 2px;
}
/* ----------------- */
.page-id-10 body{
  color:white;
}
.page-id-10 pre{
  background-color:black;
}
/* ---- */
.page-id-10 .navBar{
  background-color:red;
  width:300px;
  height:100vh;
  position:fixed;
}
.page-id-10 .contenu{
  background-color:black;
  width:100%;
  height:2000px;
  padding-left:300px;
}
/* theo */

input#nameField,
input#contactField,
textarea#addressField,
input#fbField,
input#instaField,
input#linkedField,
textarea#objectiveField,
textarea.form-control.weField,
textarea.form-control.eqField

 {
    border: none;
    background-color: none;
    color: black;
}
#invoice {
    background-color: white;
    width: 794px;
    height: 1122px;
    margin: 25px;
}
#cv_colonne{
    display: flex;
    flex-direction: row;
}

#colonne1{
    width: 50%;
}
#colonne2{
    width: 50%;
}
.fa-bars:before {
    content: "\f0c9";
    padding: 20px;
}

/* Palette de couleur */

.yellow_color {
    border-radius: 50px;
    background-color: #ffff9a;
    border: none;
}

#blue_color {
    border-radius: 50px;
    background-color: #7fb1ff;
    border: none;
}
#purple_color {
    border-radius: 50px;
    background-color: rgb(252, 146, 225);
    border: none;
}
#green_color {
    border-radius: 50px;
    background-color: #87ffcc;
    border: none;
}
#grey_color {
    border-radius: 50px;
    background-color: #8f8f8f;
    border: none;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: white;
    line-height: 1;
    padding: 0.6em 1em 0.4em;
    background-color: #7267CB;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: none;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: white;
    line-height: 1;
    padding: 0.6em 1em 0.4em;
    background-color: #7267CB;
    margin-top: 10px;
}